[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
opencv-python = "*"
pyfcm = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
pytest-cov = "*"
coveralls = "*"

[requires]
python_version = "3.6"
